        <div id="aspects_form" class="table-container">
           <div class="guiblock-title" style="overflow:hidden">
              <h3 style="float:left; margin-top:0px; margin-bottom:0px"><%=t.aspects.form.title%></h3>
              <a style="float:right" id="aspects_config" href="#" class="link" ><img class="icon" src="/assets/img/icomoon/cog.png"></a>
           </div> 
           <div id="aspects_management" style="display:none; border:1px solid #DDD; padding: 5px; margin: 5px">
             <div class="aspects_management_toolbar">
                <a name="close" class="close">Close</a>
             </div>
             <div id="aspects_container"></div>       
           </div> 
           <div id="aspects_list">
           </div>
           <iframe id="aspect_configuration" class="aspect_configuration" style="display:none; padding:5px; border: none; width: 98%">
           </iframe>                             
        </div>

